@import url('https://fonts.googleapis.com/css?family=Raleway');
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: .8rem;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//theme

$red : #e42926;
$blue: #092e4b;
$matte: #4a4a4a;
$gray: #8d8d8d;
$light:#ebebeb;

//font
html{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif !important;
    background:darken($light,10);
    box-sizing: border-box;
}

.min-h{
    min-height:60vh;
}

.bg-fff{
    background:#fff;
}

.bg-blue{
    background:$blue;
}

.bg-gray{
    background:#d2d1d1;
}

.bg-light{
    background:$light;
}

.text-serif{
    font-family:sans-serif !important;
}

.text-gray{
    color:$gray !important;
}

.text-blue{
    color:$blue !important;
}

.text-matte{
    color:$matte !important;
}

.btn-green{
    background:#25D366 !important;
    color:$light;
}
.bold{
    font-weight:700;
}

.border-blue{
    border:solid .3rem $blue;
}

.border-gray{
    border:solid .3rem $gray;
}